@import "theme.css";
* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: @foreground;
}

window#waybar {
    background-color: transparent;
}

#workspaces button {
    padding: 0 8px;
    margin: 2px;
    background-color: @color0;
    border-radius: 6px;
}

#workspaces button.active {
    background-color: @color4;
}

#custom-icon,
#clock,
#custom-brightness,
#bluetooth,
#backlight,
#network,
#pulseaudio,
#battery {
    padding: 0 10px;
    margin: 2px;
    border-radius: 6px;
    background-color: @color0;
}

#battery.charging {
    background-color: @color10;
    color: @background;
}

#battery.warning {
    background-color: @color1;
    color: @background;
}

