@import "theme.css";

* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: @foreground;
}

window#waybar {
    background-color: transparent;
}

#custom-icon,
#workspaces,
#clock,
#tray,
#system-info {
    background-color: @color0;
    border-radius: 6px;
    margin: 0 2px;
    padding: 0 10px;
}

#workspaces button {
    border-radius: 6px;
    padding: 0 2px;
}

#workspaces button.active {
    background-color: @color4;
}

#system-info {
    padding: 0;
}

#tray,
#bluetooth,
#backlight,
#network,
#pulseaudio,
#battery {
    padding: 0 10px;
}

#battery.charging {
    background-color: @color10;
    color: @background;
}

#battery.warning {
    background-color: @color1;
    color: @background;
}
